buttonsLeft .box:hover:not(.invisible,.full){
    left: 0px;
}
buttonsLeft .box img{
    box-sizing: border-box;
    width: 315px;
    height: 85px;
    border-right: 1px solid #000000;
    border-radius: 100px;
    object-fit: cover;
}
buttonsLeft .box .text{


    width: 315px;
    height: 90px;
    left: 0px;
    top: 135px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 15px;
    display: flex;

    align-items: center;
    text-align: center;
    justify-content: center;
    color: #000000;
}
buttonsLeft .box{
    z-index: 9998;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    position: fixed;
    left: -315px;
    background: #D9D9D9;
    border-right: 2px solid #000000;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px 100px 100px 100px;
}
buttonsLeft #zakaz{

    width: 630px;
    height: 90px;

    top: 135px;
}
buttonsLeft #viezd{

    width: 630px;
    height: 90px;

    top: 235px;
}
buttonsLeft #otchet{

    width: 630px;
    height: 90px;

    top: 335px;
}
buttonsLeft #masters{

    width: 630px;
    height: 90px;

    top: 435px;
}
buttonsLeft .invisible{
    left: -630px;
}
buttonsLeft .full:not(.invisible){
    left: 0px;
}