buttonsCentr .box{
    transition: 0.8s;
    justify-content: center;
    box-sizing: border-box;
    position: absolute;

    background: #D9D9D9;
    border-right: 2px solid #000000;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px 100px 100px 100px;
}
buttonsCentr #remaile:not(.full) {

    width: 470px;
    height: 90px;
    left: 540px;
    top: -1005px;
}
buttonsCentr #rename:not(.full){

    width: 475px;
    height: 90px;
    left: 540px;
    top: -605px;
}
buttonsCentr #relogo:not(.full){

    width: 470px;
    height: 90px;
    left: 540px;
    top: -200px;
}
buttonsCentr #remaile {

    width: 470px;
    height: 90px;
    left: 540px;
    top: 205px;
}
buttonsCentr #rename {

    width: 470px;
    height: 90px;
    left: 540px;
    top: 305px;
}
buttonsCentr #relogo {

    width: 470px;
    height: 90px;
    left: 540px;
    top: 405px;
}
buttonsCentr #new1 {

    width: 470px;
    height: 90px;
    left: 540px;
    top: 305px;
}
buttonsCentr #new2:not(.full){

    width: 470px;
    height: 90px;
    left: 540px;
    top: -200px;
}
buttonsCentr #new2 {

    width: 470px;
    height: 90px;
    left: 540px;
    top: 205px;
}
buttonsCentr #new3:not(.full){

    width: 470px;
    height: 90px;
    left: 540px;
    top: -200px;
}
buttonsCentr #new3 {

    width: 470px;
    height: 90px;
    left: 540px;
    top: 105px;
}
buttonsCentr #new4:not(.full){

    width: 470px;
    height: 90px;
    left: 540px;
    top: -200px;
}
buttonsCentr #new4 {

    width: 470px;
    height: 90px;
    left: 540px;
    top: 5px;
}
buttonsCentr #new1:not(.full){

    width: 470px;
    height: 90px;
    left: 540px;
    top: -200px;
}
buttonsCentr .text1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 15px;
    display: flex;

    align-items: center;
    text-align: center;
    justify-content: center;
    color: #000000;
}