/* Style the tab */
body{
    background-image:url("carbon.jpg");
}
.tablic{
    transition: 1.8s;

    position: absolute;

    background: #D9D9D9;

    width: 100%;
    left: 0px;
    top: -208px;

}
.tablic rows{
    transition: 1.9s;

    position: absolute;
    top: 0px;

    top:0px;
    height: 100%;
    width: 100%;

}
.tablic fon{
    display: flex;

    transition: 1.8s;
    position: absolute;

    background: #D9D9D9;

    width: 100%;
    height: 100%;

}
.tablic:not(.invisible){
    top: 438px;
    height: 462px;
}
.tablic .colum{

    filter:  opacity(80%);
    width:33.33%;
    height: 100%;
    display: flex;
}
.tablic .colum columname{

    color: #3498db;
    width:100%;
    height: 100%;

}
.tablic .row{


    box-sizing: border-box;
    width: 100%;
    max-height:140px;
    height: 100%;

}
.tablic .row .item:not(columname){

    filter:  opacity(100%);
    background-color: #777778;
    width: 100%;
    height: 71.4%;
    box-sizing: border-box;
    border-radius: 100px 100px 100px 100px;
    border: 0 solid #5b5b5b;


}
.tablic .row .item .columname{
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    filter:  opacity(100%);
    background-color: #e0e0e0;
    width: 33.33%;
    height: 100%;
    float: left;
    border-radius: 100px 100px 0px 0px;
    border: 0px solid #5b5b5b;
    justify-content: center;


}
.tablic .row .item .tag1{
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    filter:  opacity(100%);
    background-color: #3498db;
    width: 33.33%;
    height: 100%;
    float: left;
    border-radius: 100px 0px 0px 100px;
    border: 0px solid #5b5b5b;
    justify-content: center;


}
.tablic .row .item .tag2{
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    filter:  opacity(100%);
    background-color: #3498db;
    width: 33.33%;
    height: 100%;
    float: left;
    border-radius: 0px 0px 0px 0px;
    border: 0px solid #5b5b5b;
    justify-content: center;


}
.tablic .row .item .tag3{
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    float: left;
    filter:  opacity(100%);
    background-color: #3498db;
    width: 33.33%;
    height: 100%;
    border-radius: 0px 100px 100px 0px;
    border: 0px solid #5b5b5b;
    justify-content: center;


}
.tablic .row .slot{
    position: absolute;
    background-color: #d2d2d2;

    filter:  opacity(30%);
    width: 100%;
    height: 100%;


}
.tablic.invisible{
    left: -100%;
    top: 638px;
    height: 0px;
}
.slot{
    position: absolute;
    height: 100%;
    width: 100%;
}
div.draggable{
    transition: 0s;

    box-sizing: border-box;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100%;
    max-height: 100px;
    width: 100%;
    min-height: 0px;
    background: #D9D9D9;
    border-right: 0px solid #000000;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px 100px 100px 100px;
}
item.draggable button{

}
item.draggable .text{


}
