/* Style the tab */
body{
    background-image:url("carbon.jpg");
}
.tablic{
    transition: 1.8s;

    position: absolute;

    background: #D9D9D9;

    width: 100%;
    left: 0px;
    top: -208px;

}
.tablic rows{
    transition: 1.9s;

    position: absolute;
    top: 0px;

    top:0px;
    height: 100%;
    width: 100%;

}
.tablic TableSlot{
    display: flex;

    transition: 3.8s;
    position: absolute;

    background: #D9D9D9;

    width: 100%;
    height: 100%;

}
.tablic:not(.invisible){
    top: 438px;
    height: 462px;
}
.tablic .colum{

    filter:  opacity(80%);
    width:33.33%;
    height: 100%;
    display: flex;
}
.tablic .colum .columname{
    display: flex;
    /* Выравниваем элементы по горизонтали */
    justify-content: center;
    /* Выравниваем элементы по вертикали */
    align-items: center;
    background-color: #D9D9D9;
    color: #3498db;
    width:100%;
    height: 100%;
    max-height:100px;
    border-right: 0px solid #000000;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px 10px 10px 10px;

}
.tablic .colum .new{
    position: absolute;
    top: -100px;
    background-color: #D9D9D9;
    color: #3498db;
    width:100%;
    height: 100%;
    max-height:100px;
    border-right: 0px solid #000000;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px 100px 10px 10px;

}
.tablic .colum .buttonnew{
    display: flex;
    /* Выравниваем элементы по горизонтали */
    justify-content: center;
    /* Выравниваем элементы по вертикали */
    align-items: center;
    background-color: #D9D9D9;
    color: #00ff0b;
    font-size: 55px;
    width:100%;
    height: 100%;
    max-height:100px;
    border-right: 0px solid #000000;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px 100px 10px 10px;

}
.tablic .row{


    box-sizing: border-box;
    width: 100%;
    max-height:100px;
    height: 100%;

}

.tablic .row .slot{
    position: absolute;
    background-color: #d2d2d2;

    filter:  opacity(30%);
    width: 100%;
    height: 100%;


}
.tablic.invisible{
    left: -100%;
    top: 638px;
    height: 0px;
}
.slot{
    position: absolute;
    top: 140px;
    height: 100%;
    width: 100%;
}
div.draggable{
    transition: 0s;

    display: flex;
    /* Выравниваем элементы по горизонтали */
    justify-content: center;
    /* Выравниваем элементы по вертикали */
    align-items: center;
    height: 100%;
    max-height: 100px;
    width: 100%;
    min-height: 0px;
    background: #D9D9D9;
    border-right: 0px solid #000000;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100px 100px 100px 100px;
}
div.draggable button{

}
div.draggable .text{
    width: 50%;


}
div.draggable  .delet{
    right: 0px;
    width: 50%;
    height: 50%;
    max-width: 50px;
    max-height: 50px;
    border-radius: 20px 20px 20px 20px;
    background-color: #ff8080;
}
div.draggable .change{
    right: 0px;
    width: 50%;
    height: 50%;
    max-width: 80px;
    max-height: 50px;
    border-radius: 20px 20px 20px 20px;
}
